:root {
    --white-color: #fff;
    --black-color: #000;
    --nav-bg: #231b2e;

 
    --primary-bg: #fff;
    --layout-bg: #170f23;
    
    --alpha-bg: hsla(0,0%,100%,0.1);
   
    --tab-active-bg: hsla(0,0%,100%,0.3);
    
    /* Variable will change when change theme */
    --purple-primary: #7200a1;
    --link-text-hover: #c662ef;
    --border-primary: hsla(0,0%,100%,0.1);
}

* {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* .upper-case {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.app {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    transition: all .5s;
    overflow: hidden;
}

/* Hide popup for button 
    set button::after => change the width of hide 
*/
* button.hide-top {
    position: relative;
    color: var(--white-color);
    padding: 8px;
    opacity: 0.9;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    /* display: none; */
    transition: all .5s;
}

* button.hide-top::after {
    content: attr(data-hide);
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 600;
    background: #333;
    color: var(--white-color);
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

* button.hide-top::before {
    content: '';
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 12px;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
    display: none;
}

* button.hide-top:hover {
    background-color: var(--alpha-bg);
    cursor: pointer;
}

* button.hide-top:hover::before,
* button.hide-top:hover::after {
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Common class */

.inner-border {
    border: 10px solid var(--white-color);
    box-shadow: inset 0px 0px 0px 1px var(--boder-color);
    box-sizing: border-box; /* Include padding and border in element's width and height */
}

.inner-outline {
    outline: 1px solid var(--boder-color);
    outline-offset: -5px;
}

/* Common variables */
.mr-10 {
    margin-right: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-22 {
    margin-top: 22px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-16 {
    padding-top: 16px !important;
}
.pr-20 {
    padding-right: 20px !important;
}


/* responsive */


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0.7);
    }
    to {       
        transform: scale(1);
    }
}

@keyframes mobileSearchSideIn {
    from {
        opacity: 0;
        top: calc(var(--header-height)/2);
    }
    to {
        opacity: 1;
        top: var(--header-height);
    }
}

/* Modal css */
.modal {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn ease-in 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
    margin: auto;
    z-index: 2;
    animation: growth linear 0.1s;
}

/* Btn css */ 
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    line-height: 1.6rem;
}

.btn-back:hover {
    color: #333;
    background: #f8f8f8;
}

.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn--primary:hover {
    opacity: 0.9;
}

.btn.btn--disable {
    cursor: default;
    background-color: #c3c3c3;
}

.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn--size-l {
    min-width: 140px;
    height: 38px;
    font-size: 1.5rem;
    padding: 0 8px;
}

/* Selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px #e0e0e0;
    justify-content: space-between;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1;
}

.select-input__list {
    margin: 0;
    padding: 8px 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    border-radius: 2px;
    list-style: none;
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}

.select-input__list::before {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
    top: -7px;
    left: 0;
}

.select-input__link {
    width: 100%;
    display: inline-block;
    font-size: 1.4rem;
    padding: 8px 0;
    text-decoration: none;
    color: var(--text-color);
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
}

.pagination-item {
    margin: 0 8px;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    min-width: 40px;
    height: var(--height);
    font-size: 1.8rem;
    font-weight: 300;
    color: #939393;
    text-align: center;
    line-height: var(--height);
    text-decoration: none;
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #f36a4f ;
}