
.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 14px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all .3s ease;
    z-index: 10;
}

.header.active-bg {
    background-color: var(--layout-bg);
}

.search-box {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-box span {
    font-size: 2.2rem;
    color: #fff;
    opacity: 0.7;
    font-weight: 600;
}

.next-page-btn,
.back-page-btn {
    margin-right: 20px;
}

.search-box span:hover {
    opacity: 0.5;
    cursor: pointer;
}

.search-input-wrap {
    position: relative;
    width: 65%;
    max-width: 580px;
    height: 40px;
}

.search-input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background-color: hsla(0,0%,100%,0.1);
    border-radius: 999px;
    padding: 0 12px;
}

.search-input i {
    color: #fff;
    opacity: 0.7;
    font-size: 2rem;
    line-height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.search-input i:hover {
    opacity: 0.5;
}

.search-input input {
    flex: 1;
    width: 100%;
    padding: 6px 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding-left: 4px;
    color: #fff;
}

.search-list {
    position: absolute;
    top: 40px;
    left: 0;
    overflow: hidden;
    width: 100%;
    display: block;
    height: auto;
    min-height: 0;
    max-height: 600px;
    background-color: #432275;
    list-style: none;
    margin: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
    padding: 13px 10px;
    color: var(--white-color);
    display: none;
    transition: all .5s;
}

.search-item {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.search-item i {
    font-size: 1.6rem;
    height: 37px;
    opacity: 0.6;
    margin-right: 10px;
}

.search-item p {
    font-size: 1.4rem;
    margin: 0;
    font-weight: 500;
}

.search-item:hover {
    background-color: hsla(0,0%,100%,0.1);
}

.search-input input:focus ~ .search-list{
    display: block;
}

.search-input:focus-within {
     border-radius: 20px 20px 0 0;
     background-color: #432275;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.8;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.8;
}

.header-tools {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-tools-item-wrap {
    position: relative;
}

.sub-menu,
.setting-menu {
    position: absolute;
    top: 100%;
    right: 20%;
    width: 240px;
    background-color: var(--primary-bg);
    border-radius: 6px;
    margin-top: 10px;
}

.setting-menu.disable {
    display: none;
}

.setting-menu-list {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

.setting-menu-item {
    position: relative;
}

.setting-menu-item a {
    width: 100%;
    height: 100%;
    padding: 12px 20px 12px 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--navigation-text);
}

.setting-menu-item a i {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 12px;
    font-size: 2rem;
    opacity: 0.8;
}

.setting-menu-item a i:nth-child(3) {
    margin-left: auto;
    font-size: 1.8rem;
}

.setting-menu-item a p {
    font-size: 1.4rem;
    margin: 0;
}

.setting-menu-item:hover {
    background-color: var(--alpha-bg);
}

.setting-menu-item:hover a {
    color: var(--text-item-hover);
}

.sub-menu {
    position: absolute;
    top: 0;
    left: -112%;
    margin: 0;
    width:270px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: none;
}

.setting-menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-list {
    padding: 0;
    list-style: none;
    padding: 10px 0;
}

.sub-menu-list h6 {
    margin: 0;
    font-size: 1.4rem;
    color: var(--white-color);
    margin-bottom: 6px;
}

.sub-menu-list span {
    font-size: 1.2rem;
    color: var(--navigation-text);
    opacity: 0.7;
}

.sub-menu-item {
    padding: 8px 10px 8px 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub-menu-item i {
    font-size: 1.8rem;
    color: var(--white-color);
    opacity: 0.8;
}

.sub-menu-item.disable i {
    color: transparent;
}

.sub-menu-item:hover {
    background-color: var(--alpha-bg);
    cursor: pointer;
}

.menu-player-item h6 {
    margin: 0;
}

.menu-footer {
    margin-top: auto;
    border-top: 1px solid var(--border-primary);
    opacity: 0.7;
}

.label-up-button,
.header-tools-item {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: hsla(0,0%,100%,0.1);
    border-radius: 50%;
    font-size: 1.8rem;
    margin-right: 10px;
    text-align: center;
}


.label-up-button i,
.header-tools-item.setting i {
    opacity: 0.8;
    color: #fff;
    text-align: center;
}

.label-up-button:hover,
.header-tools-item:hover {
    opacity: 0.9;
}

.avatar-user {
    position: relative;
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-user img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.avatar-user:hover {
    opacity: 0.9;
}

