.main-wrap {
    position: relative;
    width: 100vw;
    height: calc(100vh - 90px);
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #170f23;
    overflow-x: hidden;
    /* overflow-y: scroll; */
}

/* .main-wrap::-webkit-scrollbar {
    display: none;
} */

.main {
    width: 100%;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    background-color: #170f23;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
}

.header-blur-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 184px;
    background: url(../img/avatar.jpg);
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(40px);
}

.header-theme-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background-image: linear-gradient( 180deg,hsla(0,0%,100%,0),#170f23);
}

.user-profile-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; 
    left: 0;
    padding-top: 18px;
    color: var(--white-color);
}

.user-profile-wrap .avatar-user {
    width: 95px;
    height: 95px;
}

.user-profile__name {
    font-size: 3.2rem;
    letter-spacing: 1px;
    margin-top: 28px;
}

.user-profile__actions {
    position: absolute;
    top: 16px;
    right: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile__actions span {
    text-transform: uppercase;
    border-radius: 100px;
    font-size: 1.2rem;
    padding: 6px 19px;
    margin-right: 10px;
    cursor: pointer;
}

.user-profile__actions span:hover {
    opacity: 0.8;
}

.user-profile__actions .buy-vip {
    background-color: #f8e71c;
}

.user-profile__actions .get-code {
    background-color: hsla(0,0%,100%,0.1);
    color: #fff;
}

.user-profile__actions .more {
    padding: 8px;
    background-color: #362f40;
    cursor: pointer;
}

.user-profile__actions .more:hover {
    opacity: 0.8;
}

.user-profile__actions .more::after {
    width: 30px;
}

/* Main navigation css */
.main-nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    min-height: 52px;
    margin-top: 220px;
    margin-bottom: 30px;
}

.main-nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 3px;
    border-radius: 100px;
    background-color: hsla(0,0%,100%,0.1);
}

.main-nav__item {
    display: flex;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    font-weight: 400;
}

.main-nav__item span {
    padding: 5px 25px;
    font-size: 1.2rem;
}

.main-nav__item:hover {
    opacity: 1;
}

.main-nav__item.active {
    background-color: #6e6875;
    border-radius: 100px;
    opacity: 1;
}

.main-body-warp {
    flex: 1;
    width: 100%;
    background-color: #170f23;
}

.mymusic-section {
    position: relative;
    width: 100%;
}

.mymusic-section__header {
    margin-bottom: 10px;
}

.container__header a,
.mymusic-section__header a {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.container__header a:hover,
.mymusic-section__header a:hover {
    color: #c662ef;
}

.mymusic-controls button {
    outline: none;
    border-radius: 99px;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px 19px;
}

.mymusic-controls button:hover {
    opacity: 0.8;
}

.mymusic-controls__upload {
    border: 1px solid hsla(0,0%,100%,0.1);
    background-color: hsla(0,0%,100%,0.1);
    margin-right: 15px;
}

.mymusic-controls-play {
    background-color: #7200a1;
    border: 1px solid #7200a1;
}
.mymusic-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mymusic-section__body {
    height: 244px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.mymusic-slider {
    position: relative;
    padding-left: 0;
    width: 270px;
    height: 230px;
    margin: 0;
    display: flex;
    align-items: center;
}

.mymusic-slider .mymusic-slider-item {
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition: all .9s;
    width: 230px;
    height: 230px;
}

.mymusic-slider .mymusic-slider-item img {
    height: 100%;
}

.mymusic-slider .mymusic-slider-item.third {
    z-index: 1;
    left: 0;
    width: 162px;
    height: 162px;
    opacity: .3;
    background-image: linear-gradient(
    90deg,hsla(0,0%,100%,.5) 1%,rgba(0,0,0,.6) 14%);
}

.mymusic-slider .mymusic-slider-item.second {
    z-index: 2;
    left: 20px;
    width: 196px;
    height: 196px;
    opacity: .7;
    background-image: linear-gradient(
    90deg,hsla(0,0%,100%,.5) 1%,rgba(0,0,0,.6) 14%);
}

.mymusic-slider .mymusic-slider-item.first {
    z-index: 3;
    left: 40px;
    opacity: 1;
    width: 230px;
    height: 230px;
}

.mymusic-list-song {
    display: inline-block;
    height: 100%;
    position: relative;
    flex: 1;
}

.mymusic-list-song__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.mymusic-list-song__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.mymusic-item-play-btn {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: none;
}

.mymusic-item-play-btn i {
    font-size: 1.6rem;
}

.mymusic-item-play-btn:hover i {
    opacity: 0.8;
}

.mymusic-list-song__item:hover .mymusic-item-play-btn {
    display: inline-block;
}

.mymusic-item-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    width: 50%;
}
.mymusic-item-info__imgBox {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
}

.mymusic-item-info__imgBox:hover {
    cursor: pointer;
}

.mymusic-item-info__imgBox img {
    width: 100%;
    height: 100%;
}

.mymusic-list-song__item:hover .mymusic-item-info__imgBox {
    opacity: 0.5;
}

.mymusic-item-info__name h4 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.mymusic-item-info__name-singer,
.mymusic-item-time {
    color: #fff;
    opacity: 0.8;
    font-size: 1.2rem;
}

.mymusic-item-info__name-singer a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #c662ef;
}

.mymusic-item-time {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

}

.mymusic-item-info, 
.mymusic-item-controls {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.mymusic-item-controls button {
    font-size: 1.3rem;
    padding: 10px;
    opacity: 0.6;
}

.mymusic-item-controls button:hover {
    background-color: hsla(0,0%,100%,0.1);
}

.mymusic-item-controls button:hover i {
    opacity: 0.9;
}

.mymusic-list-song__item:hover .mymusic-item-controls button {
    opacity: 1;
}

.mymusic-item-controls .mymusic-item-controls__lyric-btn {
    padding: 9px 11px;
}

.mymusic-item-controls__mv-btn::after {
    width: 50px;
}

.mymusic-item-controls__lyric-btn::after {
    width: 120px;
}

.mymusic-item-controls__heart-btn::after {
    width: 100px;
}

button.song-heart-btn {
    font-size: 1.6rem;
    padding: 7px;
}

button.song-heart-btn i {
    transform: translateY(2px);
}

button.song-heart-btn .fas {
    color: #7200a1;
    opacity: 1;
}

.track-vertical:hover {
    opacity: 1 !important;
}

/* playlist section in main */
.playlist-item__imgbox {
    height: 0;
    line-height: 0;
    padding-bottom: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.item-img-controls {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    display: none;
}

.item-img-controls .play {
    position: relative;
    color: var(--white-color);
    padding: 8px;
    opacity: 0.9;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    transition: all .5s;
    font-size: 4.6rem;
    font-weight: 600;
    margin: 0 10px;
    cursor: pointer;
}

.item-img-controls .play:hover {
    opacity: 0.7;
}

.item-img-controls .song-heart-btn:hover,
.item-img-controls .more:hover {
    background-color: hsla(0,0%,100%,0.3);
}

.item-img-controls .song-heart-btn {
    font-size: 1.8rem;
}

.item-img-controls .song-heart-btn::after {
    width: 100px;
}

.item-img-controls .more {
    font-size: 1.6rem;
}

.item-img-controls .more::after {
    width: 60px;
}

.playlist-item__imgbox img {
    width: 100%;
    object-fit: contain;
    transition: transform .7s;
    cursor: pointer;
}

.playlist-item__imgbox:hover img {
    transform: scale(1.12);
    opacity: 0.4;
}

.playlist-item__imgbox:hover .item-img-controls {
    display: flex;
}

.container__header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-controls {
    transform: translateY(8px);
}

.playlist-controls button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 12px;
    align-self: flex-start;
}

.playlist-controls button i {
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    opacity: 0.9;
}

.playlist-controls button:hover i {
    opacity: 0.8;
}

.playlist-controls button.disable i {
    opacity: 0.3;
}

.playlist-empty {
    width: 100%;
    height: 100%;
    min-height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background: linear-gradient(33deg,#5a1eae -7%,#ce267a 117%);
    border-radius: 4px;
    cursor: pointer;
}

.playlist-empty i {
    font-size: 4.4rem;
    opacity: 0.9;
}

.playlist-empty span {
    font-size: 1.4rem;

}

.playlist-item {
    color: var(--white-color);
}

.playlist-item a {
    display: block;
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 600;
}

.playlist-item a:hover {
    color: #c662ef;
}

.playlist-item p {
    margin: 0;
    margin-top: 6px;
    font-size: 1.2rem;
    opacity: 0.6;
}