/* Large PC */
@media (min-width: 1635px) {
    .hide-on-large-pc {
            display: none;
        }
}

/* < large PC */
@media (max-width: 1635px) {
    .list-music {
        position: absolute;
        top: 0;
        right: -320px;
        z-index: 10;
        transition: all .4s ease-in;
    }

    .list-music.active {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        transition: all .4s ease-in;
    }
}

/* Fig bug ui in width: 1175px */
@media (max-width: 1175px) {
    .singer-item-follow-btn {
        padding: 7px 13px;
    }
}

/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* PC & Tablet */
@media (min-width: 740px) {
    .hide-on-tablet-pc {
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    
    .hide-on-mobile-tablet {
        display: none;
    }

    .navigation .nav-item__btn {
        padding: 22px 25px;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    .hide-on-tablet {
        display: none;
    }

    .nav-block .nav-lib {
        padding-top: 0;
    }

}

/* Mobile */
@media (max-width: 739px) {

    .hide-on-mobile {
        display: none;
    }

    .singer-item .container-item__imgbox {
        padding-bottom: 100%;
        width: 100%;
    }

    .header .search-input-wrap {
        width: 90%;
    }

    .play-foot {
        height: 90px;
        padding: 0;
    }

    .mb-foot {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .mb-foot__play,
    .mb-foot__controls {
        height: 45px;
    }

    .mb-foot__play {
        display: flex;
        align-items: center;
    }

    .foot-play-controls {
        margin-right: 5%;
    }

    .foot-play-controls button i {
        font-size: 1.6rem;
    }

    .foot-play-controls button::after {
        width: 60px;
    }

    .foot-play-controls .mb-foot-previous,
    .foot-play-controls .mb-foot-next {
        padding: 8px 11px;
    }

    .mb-foot-play {
        margin: 0 8px;
    }

    /* play layout */
    .foot-play-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 0;
        flex: 1;
    }
    
    .foot-play-info__imgBox {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
    
    .foot-play-info__imgBox img {
        width: 100%;
        height: 100%;
    }

    .foot-play-info__imgBox:hover {
        cursor: pointer;
    }

    .foot-play-info__name h4 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 4px;
    }

    .foot-play-info__name-singer {
        font-size: 1.2rem;
        opacity: 0.8;
    }

    .foot-play-info__name-singer a:hover {
        text-decoration: underline;
        color: #c662ef;
    }
    
    .foot-play__imgbox .foot-play-delete-btn {
        position: absolute;
        top: 4%;
        right: 4%;
        z-index: 10;
        padding: 16px;
        display: none;
    }
    
    .foot-play__imgbox:hover .foot-play-delete-btn {
        display: inline-block;
    }
    
    .foot-play__imgbox .foot-play-delete-btn:hover {
        background-color: hsla(0,0%,100%,0.3);
    }
    
    .foot-play__imgbox .foot-play-delete-btn i {
        font-size: 2.6rem;
        opacity: 0.8;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    
    .foot-play__imgbox .foot-play-delete-btn:hover i {
        opacity: 0.7;
    }
    
    .foot-play-time-label {
        display: inline-block;
        line-height: normal;
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        padding: 3px 5px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }

    .mb-foot__controls {
        border-top: 1px solid rgba(255, 255, 255, 0.05);
    }

    .controls-list {
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
        width: 100%;
        padding-left: 0;
        margin: 0;
    }

    .controls-item {
        height: 100%;
        width: calc(100%/5);
        opacity: 0.9;
    }

    .controls-item a {
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        width: 100%;
        height: 100%;
    }
   
    .controls-item i {
        color: var(--white-color);
        font-size: 1.6rem;

    }

    .controls-item span {
        font-size: 1.1rem;
        margin-top: 4px;
    }

    .controls-item.active {
        background-color: hsla(0,0%,100%,0.1);
    }

    .controls-item.active i {
        opacity: 0.7;
    }

    
}

/* Low Mobile */
@media (max-width: 540px) {
    .hide-on-low-mobile {
        display: none;
    }

    .main-nav {
        width: 90%;
    }

    .main-nav__item {
        width: calc(100%/4);
        padding: 6px 12px;

    }

    .main-nav__item span {
        padding: 0;
        text-align: center;
    }
}



